default:
    gherkin:
        filters:
            tags: ~@wip
    suites:
        default:
            paths:
                features: '%paths.base%/tests/Behat/DefaultContext/features'
            contexts:
                - App\Tests\Behat\DefaultContext\Context\DefaultContext
                - App\Tests\Behat\Authentication\Context\AuthenticationContext
                - App\Tests\Behat\DefaultContext\Context\AdminAdminAccountContext
                - App\Tests\Behat\DefaultContext\Context\ConsoleCommandProcessorContext
        common:
            paths:
                features: '%paths.base%/tests/Behat/Common/features'
            contexts:
                - App\Tests\Behat\Common\Context\DatabaseContext
        authentication:
            paths:
                features: '%paths.base%/tests/Behat/Authentication/features'
            contexts:
                - App\Tests\Behat\Authentication\Context\AuthenticationContext
        installer:
            paths:
                features: '%paths.base%/tests/Behat/Installer/features'
            contexts:
                - App\Tests\Behat\Installer\Context\InstallerContext
        jobpost:
            paths:
                features: '%paths.base%/_jobposting/tests/Behat/JobPost/features'
            contexts:
                - JobPosting\Tests\Behat\JobPost\Context\JobPostContext
                - App\Tests\Behat\Authentication\Context\AuthenticationContext


    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: tests/bootstrap.php
        Behat\MinkExtension:
                    # adapt this to whatever the real URL is to your local site
                    base_url: http://127.0.0.1:8000/
                    # or use "goutte"
                    default_session: symfony
                    #javascript_session: selenium2
                    browser_name: chrome
                    symfony: ~
                    #selenium2: ~
