includes:
    - phpstan-baseline.neon

parameters:
    level: 5

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    paths:
        - src
        - tests
        - _jobposting/src
        - _jobposting/tests

    ignoreErrors:
        #- '##'


    excludePaths:
        - '*/vendor/*'
        - '*/extra/*'
        - '*/vendor/*'
        - '*/tools/*'
