<div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-6 col-md-6 mb-3">
                <h5>Network</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="https://www.ils.org/" class="nav-link p-0 text-muted text-start">
                            <img src="images/site/footer/ils.png">
                            Italian Linux Society Dal 1994, Linux in Italia
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="https://www.linux.it/" class="nav-link p-0 text-muted">
                            <img src="images/site/footer/linux.png">
                            Linux.it Inizia qui per scoprire Linux
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="https://lugmap.linux.it/" class="nav-link p-0 text-muted">
                            <img src="images/site/footer/lugmap.png">
                            LugMap Mappa degli Users Groups
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="https://www.linuxday.it/" class="nav-link p-0 text-muted">
                            <img src="images/site/footer/linuxday.png">
                            LinuxDay A fine ottobre, in tutta Italia
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="https://scuola.linux.it/" class="nav-link p-0 text-muted">
                            <img src="images/site/footer/scuola.png">
                            Scuola Liberi di imparare
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="https://planet.linux.it/lug" class="nav-link p-0 text-muted">
                            <img src="images/site/footer/planet.png">
                            Planet LUG News e aggiornamenti
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="https://www.linuxsi.com/" class="nav-link p-0 text-muted">
                            <img src="images/site/footer/linuxsi.png">
                            LinuxSi I negozi Linux-friendly
                        </a>
                    </li>
                </ul>
            </div>

{#            <div class="col-6 col-md-2 mb-3">#}
{#                <h5>Section</h5>#}
{#                <ul class="nav flex-column">#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>#}
{#                </ul>#}
{#            </div>#}

{#            <div class="col-6 col-md-2 mb-3">#}
{#                <h5>Section</h5>#}
{#                <ul class="nav flex-column">#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>#}
{#                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>#}
{#                </ul>#}
{#            </div>#}

{#            <div class="col-md-5 offset-md-1 mb-3">#}
{#                <form>#}
{#                    <h5>Subscribe to our newsletter</h5>#}
{#                    <p>Monthly digest of what's new and exciting from us.</p>#}
{#                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">#}
{#                        <label for="newsletter1" class="visually-hidden">Email address</label>#}
{#                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">#}
{#                        <button class="btn btn-primary" type="button">Subscribe</button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2023 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </div>
    </footer>
</div>