<nav class="navbar navbar-expand navbar-light bg-light" aria-label="Second navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ils Jb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('web_home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
{#            <form role="search">#}
{#                <input class="form-control" type="search" placeholder="Search" aria-label="Search">#}
{#            </form>#}
            {% if app.user is null  %}
                <a href="{{ path('web_login') }}">
                    <button type="button" class="btn btn-outline-primary me-2">Login</button>
                </a>
            {% else %}
                <a href="{{ path('securiry_logout') }}">
                    <button type="button" class="btn btn-outline-primary me-2">Logout</button>
                </a>
            {% endif %}
        </div>
    </div>
</nav>
