{% extends 'admin-layout.html.twig' %}

{% block title %}Nuova Offerte di lavoro{% endblock %}

{% block main %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Modifica offerta di lavoro</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{{ path('web_admin_jobpost_index') }}" class="btn btn-sm btn-outline-secondary">
                    Torna alla lista
                </a>
            </div>
        </div>
    </div>

    {% include '@jobposting/admin/jobpost/form/_jobpost.html.twig' %}

</main>
{% endblock %}